<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="ConsoleRND.Properties.Settings._3E636A05BB0B7ADA74DDF8F55BA6A48A_NET_4_5_WEB_FORMS_AND_VISUAL_STUDIO_2013___WINGTIP_TOYS_C__WINGTIPTOYS_APP_DATA_WINGTI"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=&quot;3E636A05BB0B7ADA74DDF8F55BA6A48A_NET 4.5 WEB FORMS AND VISUAL STUDIO 2013 - WINGTIP TOYS\C#\WINGTIPTOYS\APP_DATA\WINGTIPTOYS.MDF&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->
        <add name="ConsoleRND.Properties.Settings.BDConsoleRNDConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BDConsoleRND;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>